/*  //////////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    Plotting Our Blocks
    By: Virgilio D. Cabading Jr.
    Created: October 12, 2021
    //////////////////////////////////////////////////*/